<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="cebianlan.css" />
    <link href="../public/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
<div class="star-rating">
    <fieldset>
        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="卓越">五星</label>
        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="优秀">四星</label>
        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="良好">三星</label>
        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="中等">二星</label>
        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="很差">一星</label>
    </fieldset>
</div>

</body>
</html>