
#header .header-main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items:center;
    justify-content:center;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 38, 176, 0.1);
    /*border-bottom: 1px solid #acb0b0;*/
    background-color: #f5f7f6;

}
.header-main .left-first{
    /*background-color: #00FCA3;*/
    -webkit-flex: initial;
    flex: initial;
    width:115px;
    min-width:65px;
    text-align:center;
    height:70px;
    border-right:1px solid #E6EAEA;

}
.header-main  span{
    height:70px;
    line-height: 70px;
}

.header-main .keyword {
    /*background-color: #11c8b2;*/
    -webkit-flex: 2;
    flex: 2;
    text-align:center;
    height:70px;
    font-size: 30px;
    border-right:1px solid #E6EAEA;
}

.header-main .item{
    padding: 0 23px;
}

.header-main .search-input {
    /*background-color: white;*/
    width: 250px;
    height:70px;
    padding:0 20px;
    font-size:15px;
    background-color: transparent;
    border: 0px;
    outline: #acb0b0;

}
input:-webkit-autofill {
    -webkit-box-shadow : 0 0 0px 1000px #f5f7f6 inset ;
    border : 1px solid ;
}

form{
    margin: 0;
    padding: 0;
    display: inline;
}

.header-main button{
    /*background-color: #989898;*/
    width: 75px;
    text-align:center;
    height:70px;
    color:white;
    font-size: 18px;
    border: 0px;
    outline: none;
    margin: 0;
    padding: 0px 0px;
}


.header-main .description {
    background-color: #F86B84;
}
.header-main .description:hover {
    background-color: #FC91A4;
}

.header-main .comparison {
    background-color: #79D2BC;
}

.header-main .comparison:hover {
    background-color: #9FE9D6;
}

.header-main .flex4 {
    -webkit-flex: 1;
    flex: 1;
    text-align:center;
    height:70px;
}
.header-main .flex2 span {
    color: #ffffff;
}



#page-board {
    position: relative;
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    display: flex;
    align-items:center;
    justify-content:center;

}

#page-board canvas{
    flex-grow:0;
    flex-shrink:0;

}

#page-board #message-part{
    flex-direction:column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content:center;
    flex:1;
    height:627px;
}

#page-board .topmessage{
    display: flex;
    align-items:center;
    justify-content:flex-start;
    margin: 0 2.5px;
    width: 95%;
    align-self: center;
}
#page-board .infomessage{
    align-self:center;
    margin: 0 2.5px;
}
#page-board .topmessage .listicon {
    flex: 1;
}

#page-board .topmessage .listicon p{
    color:white;
    font-size: 15px;
    display: inline;
    font-family: "Microsoft YaHei UI ";

}
#page-board .topmessage .listicon img{
    display: inline;
}

#page-board .topmessage p{
    color:white;
    font-size: 65px;
    flex: 1;
    text-align:center;
    -webkit-margin-before: 3px;
    -webkit-margin-after: 3px;
}

#page-board #tabcards{

    /*opacity:0.4;*/
    flex: 3;
    width: 95%;
    align-self:center;

    /*color:white;*/
    /*height:200px;*/
}

.test_box {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.test_tab {
    width: 50%;
    border-bottom: 0;
    float: left;
    color:white;
}
.test_label {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #79d2bc;
    text-align: center;
}
.test_radio,
.test_tab_content {
    position: absolute;
    left: -999em;
}
.test_radio:checked ~ .test_tab_content {
    margin-top: -1px;
    /*padding: 1em 2em;*/
    /*border: 1px solid #ccc;*/
    left: 0;
    right: 0;
}
.test_radio:checked ~ .test_label {
    background-color: #6cbda9c7;
    /*border-bottom: 1px solid #fff;*/
    position: relative;
    z-index: 1;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #273039;
}





